annotated-types==0.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
backports.zoneinfo==0.2.1
cffi==1.16.0
cryptography==42.0.1
Django==4.2
django-ninja==1.1.0
djangorestframework==3.14.0
djfernet==0.8.1
iso8601==2.1.0
orjson==3.9.15
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
pyseto==1.7.8
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4